@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    color: #242424;
    background-color: #fcf7f4;
    font-family: "Poppins";
    margin: 0px;

}

nav{
    margin: 40px;
    padding: 10px;
    display: flex;                                  /* organiza logo e menu lado a lado */
    justify-content: space-between;   
    align-items: center;            /* alinha logo e menu verticalmente */
    font-size: 18px;
    border-bottom: 1px solid #d1d1d1;      
    }

nav > div{                                          /* div é filho de nav, como se nav estivesse chamando o filho div */
    display: flex;                                  /*organiza os links em linha*/
    gap: 20px;                                    /*espaços entre os links*/
}

nav > img{
    width: 100px;
    height: auto;
}
nav a {
    text-decoration: none;
    color: #242424;
    transition: color 0.3s; /* transição suave de cor*/
}
nav a:hover{
    text-decoration: underline;
    color: blue;
    
}

#apresentacao{
    padding: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px;
    border-radius: 8px;
}

#imagem-principal{
    width: 120px;
    height: auto;
    border-radius: 50%;
}
.titulo-principal {
    font-family: "DM Serif Display";
    font-size: 42px;
    color: #687a48;
}

#apresentacao button{
    margin-top: 10px;
    background-color:  #687a489c;
    color: #fcf7f4;
    padding: 7px;
    font-size: 16px;
    border: 2px;
    border-radius: 5px;
    
}

#apresentacao button:hover{
    opacity: 0.7;
    box-shadow: 0 5px 20px #687a48;
    
    
}

#apresentacao h2 {
    margin-bottom: 5px;
}

#apresentacao p {
    margin-bottom: 5px;
}

#artigos{
    background-color: #E5E8DE;
    padding: 30px;
    
}


#artigos div{
    display: flex;
    gap: 50px;
    text-align: center;
    
}

#artigos article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 210px;
}   

#artigos article a{
    margin-top: auto;
    color: #687a48;
    font-weight: bold;
    text-decoration: none;
}

#artigos article h3{
    margin-bottom: 10px;
}

.titulo-secundario {
    font-family: "DM Serif Display";
    font-size: 32px;
    color: #687a48;
}

#artigos article{
    flex: 1;
    text-align: justify;
    background-color: #717c5e2c;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    
}

#aprendizado{
    text-align: center;
    margin: 100px;
}

#bloco01{
    display: flex;
    gap: 100px;
    justify-content: center;
}


#aprendizado > h2{
    font-family: "DM Serif Display";
    color: #687a48;
    font-size: 32px;
    margin-bottom: 80px;
} 

#aprendizado img{
    width: 64px;
    height: auto;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}


.habilidades > p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    
    
}

.icone-habilidade:hover{
    transform: translateY(-20px);
    transition-duration: 0.5s;
    
}

